bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea

# Don't upload pdf files, just .typ ones
*.pdf
/src/FlinkProcessor/target/
/src/FlinkProcessor/.env
src/KafkaMongoConnector/target/
src/KafkaMongoConnector/project/target/